{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<!--sign up section-->
<section class="py-3 pt-0">
  <div class="container-fluid border-0">
      <div class="card text-center border-0">
          <div class="form-container fs-6 p-0 mb-0 pt-4">
            <div class="sign-up-container">
              <div class="card-header page-header h2 rounded-0 header-text mb-3">Sign up</div>
              <p>{% blocktrans %}Already signed up? Then please 
                <a href="{{ login_url }}" class="log-in-prompt">sign in</a>.{% endblocktrans %}
              </p>
              <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn card-text action-btn text-decoration-none mb-3 px-5">{% trans "Sign Up" %}</button>
              </form>
            </div>
          </div>
      </div>
  </div>
</section>

{% endblock %}
