{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--hero-image-->
<section>
    <div class="container-fluid card my-3 border-0">
        <img src="{% static 'images/hero-image-2.jpg' %}" class="card-img-top hero-image" alt="...">
        <div class="card-body p-0 mb-0">
          <h2 class="card-title text-center caption py-3 mb-0">Unlock beautiful hair...</h2>
        </div>
    </div>  
</section>

<!--services overview-->
<section class="py-3">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card mx-auto border-0" style="width: 18rem;">
                    <h5 class="card-title mb-0 p-2 services-card">Cut</h5>
                    <img src="{% static 'images/cut-6.jpg' %}" alt="stylist cutting a womans hair">
                    <div class="card-body services-link">
                        <a href="#" class="btn card-text services-btn text-decoration-none">Find out more</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card mx-auto border-0" style="width: 18rem;">
                    <h5 class="card-title mb-0 p-2 services-card">Colour</h5>
                    <img src="{% static 'images/colour-1.jpg' %}" alt="stylist colouring another womans hair">
                    <div class="card-body services-link">
                        <a href="#" class="btn card-text services-btn text-decoration-none">Find out more</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card mx-auto border-0" style="width: 18rem;">
                    <h5 class="card-title mb-0 p-2 services-card">Style</h5>
                    <img src="{% static 'images/style-1.jpg' %}" alt="woman with curly hair">
                    <div class="card-body services-link">
                        <a href="#" class="btn card-text services-btn text-decoration-none">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--contact details-->
<section class="py-4">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12">
                <div class="card border-0">
                    <div class="card-body contact">
                        <h5 class="card-title">Contact us</h5>
                        <h6 class="card-text contact">81 Hair Way, Watford, London, HA9 7GH</h6>
                        <h6 class="card-text contact contact-number">Tel: 020 1904 001</h6><br>
                        <h5 class="card-text contact">Opening times</h6>
                        <h6 class="card-text contact">Mon-Sat: 10am-5pm, Sun: closed</h6><br>
                        <a href="#" class="btn contact-btn">Book now!</a>
                    </div>
                </div>
            </div>
        </div>
    <div>
</section>

{% endblock %}
