{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="py-3 pt-0">
    <div class="container-fluid border-0">
        <div class="card text-center border-0">
            <div class="form-container fs-6 p-0 mb-0 pt-4">
              <div class="sign-up-container">
                <div class="card-header page-header h2 rounded-0 header-text mb-3">Book</div>
                    <form action="{% url 'create_booking' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn card-text action-btn text-decoration-none mb-3 px-4" type="submit">Book</button>
                    </form>
              </div>
            </div>
        </div>
    </div>
  </section>
  
{% endblock %}