{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--services summary-->
<section class="py-3 pt-0">
    <div class="container-fluid border-0">
        <div class="card text-center border-0">
            <div class="form-container fs-6 p-0 mb-0 pt-4">
              <div class="sign-up-container">
                <div class="card-header page-header h2 rounded-0 header-text mb-3">Edit services</div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn card-text action-btn text-decoration-none mb-3 px-4 mx-2" type="submit">Edit</button>
                        <a href="{{ services_url }}" class="btn card-text action-btn text-decoration-none mb-3 px-4 mx-2">Cancel</a>
                    </form>
              </div>
            </div>
        </div>
    </div>
  </section>

{% endblock %}