<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Services</h1>
    <div class="cut_services">
        <h2>Cut</h2>
        {% for service in cut_services %}
            <h3>{{ service.name }}</h3>
            <h3>£{{ service.price }}</h3>
        {% endfor %}
    </div>
    <div class="colour_services">
        <h2>Colour</h2>
        {% for service in colour_services %}
            <h3>{{ service.name }}</h3>
            <h3>£{{ service.price }}</h3>
        {% endfor %}
    </div>
    <div class="style_services">
        <h2>Style</h2>
        {% for service in style_services %}
            <h3>{{ service.name }}</h3>
            <h3>£{{ service.price }}</h3>
        {% endfor %}
    </div>
</body>
</html>